Converted Files/DBDSoundExtractor_FilesCheck.exe
Converted Files/config.json
Converted Files/Engine/*
Converted Files/UnrealPak/*
Converted Files/Binaries/*
Converted Files/WwiseExtractor.exe
Converted Files/UnrealPak/Saved/Logs/UnrealPak.log
